name: Generate Presentation Slides

on:
  push:
    branches: ["main"]
  workflow_dispatch:

# Sets permissions of the GITHUB_TOKEN
permissions:
  contents: read

defaults:
  run:
    shell: bash

jobs:
  build:
    name: Generate PDF Slides
    runs-on: ubuntu-latest

    steps:

    - id: checkout-code
      name: Checkout
      uses: actions/checkout@v6
      with:
        submodules: recursive

    - id: marp-build
      name: Render Slides with Marp
      uses: docker://marpteam/marp-cli:latest
      with:
        args: --allow-local-files -I ./content/slides/ -o ./static/slides --pdf
      env:
        MARP_USER: root:root

    - id: upload-slides
      name: Upload PDF Slides
      uses: actions/upload-artifact@v6
      with:
        name: presentation-slides
        path: ./static/slides/*.pdf
        retention-days: 90
